openpyxl>=3.1.0
Flask>=3.0.0
Flask-SQLAlchemy>=3.0.0
rapidfuzz>=3.0.0
pandas>=2.0.0
pdfplumber>=0.10.0
azure-ai-documentintelligence==1.0.0b4
rapidocr>=3.0.0
onnxruntime>=1.17.0
pytesseract>=0.3.10
Pillow>=10.0.0
gunicorn
PyJWT>=2.10.0
google-auth>=2.0.0
google-auth-oauthlib==1.0.0
google-auth-httplib2==0.2.0
google-api-python-client==2.86.0
cryptography==41.0.0
Flask-Cors>=3.0.10
Flask-Migrate>=4.0.0
pywebview>=4.0.0
redis>=5.0.0
python-dotenv>=1.0.0
psycopg[binary]>=3.1.0
